---
import Person from "./Person.astro";
---

<section id="about-me" class="bg-white flex justify-center">
  <div class="h-1/2 flex justify-center items-center gap-24 border md:w-[86%] rounded-3xl">
    <div class="mt-6 md:w-3/4 mb-16">
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2 -mt-14 px-4 bg-white">
          <Person />
          <h2
            class="bg-gradient-to-r from-[#8001ff] to-[#4e4eff] text-transparent bg-clip-text text-2xl font-black tracking-wide"
          >
            Sobre Mi
          </h2>
        </div></div>
        <div class="w-[80%] py-6 flex flex-col mx-auto">
      <h2 class="font-medium tracking-widest mb-4 text-2xl">&lt; Quien soy ? /&gt;</h2>
      <p class="text-black">
        ¡Hola! Soy Lucas, un apasionado desarrollador web especializado en
        frontend. Trabajo en una empresa de cursos presenciales, manejando
        proyectos de WordPress. Disfruto de los desafíos que me permiten crecer.
        Fuera del trabajo, me gusta estar activo y explorar nuevas tecnologías.
      </p>
      <p
        class="mt-8 italic font-bold">¡Estoy emocionado por lo que el futuro tiene reservado y espero poder
        conectar contigo pronto!</p
      >
    </div>
    </div>
  </div>
</section>
