<section id="contact" class="py-12 px-4 w-4/5 mx-auto">
  <div class="">
    <h3 class="text-4xl font-bold mb-8">Charlemos</h3>
    <form action="https://script.google.com/macros/s/AKfycbx3P5VYocC8WV5ffk0Jf_zJ8BcsYdkbdJt9F8xPOwhDVGA1o-qkuIDhcUnb31VQirmp1w/exec" method="post" class="">
      <div class="mb-4 flex">
        <input type="email" id="email" name="email" required placeholder="Ingresa tu correo electronico" class="border-b-2 w-full bg-transparent" />
      
        <button type="submit" class="text-2xl border-b-2">
          ⟶
        </button>
      </div>
    </form>
  </div>
</section>
