---
import Arrow from "./Arrow2.astro";
import Briefcase from "./Briefcase.astro";
---

<section id="experience" class="bg-white flex justify-center">
  <div
    class="h-1/2 flex justify-center items-center gap-24 border md:w-[86%] rounded-3xl"
  >
    <div class="mt-6 md:w-3/4 mb-6">
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2 -mt-14 px-4 bg-white">
          <Briefcase />
          <h2
            class="bg-gradient-to-r from-[#8001ff] to-[#4e4eff] text-transparent bg-clip-text text-2xl font-black tracking-wide"
          >
            Experiencia
          </h2>
        </div>
      </div>
      <div class="flex flex-col items-center rounded-3xl">
        <div
          class="flex items-end justify-between py-4 border-b-[1.5px] w-[80%] border-[#8002FE]"
        >
          <h2 class="text-2xl font-medium">Wonderful3D</h2>
          <Arrow />
        </div>
        <div class="flex flex-col mx-auto w-[80%] py-12">
          <p class="text-black">
            En Wonderful3D, he desarrollado y mantenido páginas de aterrizaje en
            WordPress, mejorando la experiencia del usuario y las tasas de
            conversión. He trabajado en la plataforma educativa de la empresa
            utilizando ReactJS, implementando nuevas funcionalidades y
            asegurando su buen funcionamiento. También he ejecutado campañas de
            email marketing con Envialo Simple y gestionado publicidades en
            Facebook Ads, aumentando la visibilidad y el compromiso de la marca.
            Además, he programado y mantenido el CRM (Bitrix24) y proporcionado
            soporte técnico a los usuarios. He integrado formularios con Zapier
            para sincronizar datos con Google Sheets y utilizado Firebase como
            base de datos, asegurando una gestión eficiente de la información.
          </p>
          <p class="mt-8 italic font-bold">
            Mi experiencia en Wonderful3D me ha permitido adquirir habilidades
            técnicas y de marketing, entregando soluciones efectivas y
            personalizadas.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
