---
import Button from "../components/Button.astro";
import Magic from "../components/Magic.astro";
---

<section
  id="home"
  class="h-screen w-full flex justify-center place-items-end gap-32 relative bg-cover bg-center"
>
  <div class="h-full w-[86%]">
    
    <div class="flex flex-col items-center mt-20">
      <img src="./img-profile.png" alt="" class="w-[14%] rounded-full ml-32 mt-16 -mb-40" />
      <h2 class="font-light tracking-widest">&lt; Desarrollador Web /&gt;</h2>
      <h1 class="text-6xl md:text-8xl font-bold tracking-wide md:text-center">
        <span
          class=" bg-gradient-to-r from-[#8001ff] to-[#8319FB] inline-block text-transparent bg-clip-text"
          >Juntos,</span
        >
        hagamos de tus 
        <span
          class="bg-gradient-to-r from-[#EC6235] to-[#F35667] inline-block text-transparent bg-clip-text"
          >ideas</span
        >
        una realidad
      </h1>

      <!-- <Button>Contacto</Button> -->
    </div>
    <div class="flex md:justify-between md:items-center">
    <div
      class="border-[1.5px] border-[#EC6235] rounded-full inline-block -rotate-6 mt-12 md:mt-6 -ml-16 md:ml-8 order-last hover:bg-[#8319FB] hover:text-white"
    >
      <a href="#" class="md:text-xl flex items-center font-medium"
        ><span class="px-4">Hablemos !</span><Magic /></a
      >
    </div>
    <div class="mr-8 inline-block">
      <ul class="flex gap-2">
        <li class="">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#8319FB"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
              ></path><path d="M16.5 7.5l0 .01"></path></svg
            ></a
          >
        </li>
        <li class="">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#8319FB"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
              ></path><path d="M12 16l0 -5"></path><path
                d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
            ></a
          >
        </li>
        <li class="">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#8319FB"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            ></a
          >
        </li>
      </ul>
    </div>
  </div></div>
</section>
