---
import Github from "../components/icon/Github.astro";
import Linkedin from "../components/icon/Linkedin.astro";
import Instagram from "../components/icon/Instagram.astro";
---

<ul class="flex gap-2 ml-2 ">
  <li><a href="https://www.instagram.com/luc4ssan/"><Instagram /></a></li>
  <li><a href="https://www.linkedin.com/in/luc4ssan/"><Linkedin /></a></li>
  <li><a href="#"><Github /></a></li>
</ul>
