---
import Email from "./icon/Email.astro";
---

<a
  href="mailto:lucaas.sanchez16@gmail.com?subject=Contacto%20desde%20Portfolio%20-%20Reclutador%20IT&body=Hola%20Lucas,%0D%0A%0D%0AHe%20visto%20tu%20portfolio%20y%20estoy%20interesado%20en%20conversar%20sobre%20posibilidades%20laborales.%20%C2%BFPodr%C3%ADas%20ponerte%20en%20contacto%20conmigo%20para%20coordinar%20una%20reuni%C3%B3n?%0D%0A%0D%0AMuchas%20gracias,%0D%0A%0D%0A[Tu%20nombre%20y%20cargo]"
  class="relative inline-flex items-center justify-center p-4 px-3 py-1 overflow-hidden font-medium text-[#8001ff] transition duration-300 ease-out border-2 border-[#8001ff] rounded-full shadow-md group"
>
  <span
    class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-[#8001ff] group-hover:translate-x-0 ease"
  >
    <Email />
  </span>
  <span
    class="absolute flex items-center justify-center w-full h-full text-[#8001ff] transition-all duration-300 transform group-hover:translate-x-full ease"
    >Disponible para trabajar</span
  >
  <span class="relative invisible">Disponible para trabajar</span>
</a>
