---
import Code from "./icon/Code.astro";
import Card from "./Card.astro";
---

<section id="proyects">
  <div class="pb-4 bg-[#8001ff]">
    <div class="md:w-[86%] mx-auto">
      <div
        class="inline-flex items-center gap-2 px-2 py-1 bg-white rounded-b-xl"
      >
        <Code />
        <h2
          class="bg-gradient-to-r from-[#8001ff] to-[#4e4eff] text-transparent bg-clip-text text-3xl font-black tracking-wide"
        >
          Proyectos
        </h2>
      </div>
    </div>
  </div>
  <div class="px-4 md:w-[86%] md:mx-auto">
    <Card
      title="Educa</te> - La solución para adquirir habilidades digitales"
      href="https://educa-te.com.ar/"
      description="Sitio web para la compra de ebooks enfocados en el desarrollo de habilidades digitales. Creado con Astro y TailwindCSS, e integrado con Zapier para enviar correos automatizados y conectarse con hojas de cálculo, optimizando la gestión y seguimiento de los usuarios."
      portada="/proyect1.webp"
    />
    <Card
      title="Wonderful 3D - Curso Online - Muestra de una Landing Page"
      href="https://wonderful-3d.com/usco/"
      description="Desarrollé un sitio web utilizando WordPress y Elementor, con un formulario integrado mediante Zapier. La integración automatiza procesos con herramientas como ManyChat, Google Sheets, Twilio, entre otras. Cabe destacar que no soy responsable del mantenimiento del sitio, por lo que su contenido o funcionalidades pueden variar con el tiempo."
      portada="/proyect2.webp"
    />
    <Card
      title="Wonderful 3D - Plataforma Educativa"
      href="https://wonderful3d.online/"
      description="Realicé el mantenimiento y la extensión de funcionalidades en una plataforma educativa. La plataforma incluía funciones como la visualización de videos educativos, acceso a manuales complementarios para cursos presenciales y descarga de certificados. Contaba con diferentes vistas según el rol: administrador, capacitador (con opción de tomar asistencia), y alumno (con acceso al contenido). La plataforma fue construida con ReactJS, Firebase y la librería MUI, entre otras tecnologías."
      portada="/proyect3.webp"
    />
  </div>
</section>
