---
import Code from "./icon/Code.astro";
---

<section id="proyects">
<div class="pb-4 bg-[#8001ff]">
  <div class="inline-flex items-center gap-2 px-2 py-1 mx-2 bg-white rounded-b-xl">
    <Code />
  <h2
            class="bg-gradient-to-r from-[#8001ff] to-[#4e4eff] text-transparent bg-clip-text text-3xl font-black tracking-wide"
          >

            Proyectos
          </h2></div>
</div>
</section>