---
import Card from "../components/Card.astro";
---

<section id="proyects" class="flex justify-center">
  <div class="w-[86%] flex flex-col gap-6">
    <div class="md:flex justify-between items-center px-12">
      <h2
        class="bg-gradient-to-r from-[#8001ff] to-[#4e4eff] text-transparent bg-clip-text text-2xl font-black tracking-wide"
      >
        Proyectos Recientes
      </h2>
      <h3 class="w-1/2">
        Descubre nuestros proyectos más recientes, reflejo de nuestro
        compromiso con el diseño innovador.
      </h3>
      
    </div>
    <div class="grid grid-rows-4 md:grid-rows-2 md:grid-cols-2 md:mt-16 gap-4">
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
  </div>
</section>
